<%= form_for([@post, @post.comments.build]) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
  <p>
    <%= f.label :content %>
    <%= f.text_area :content , cols: 20, rows: 10 %>

    <%= f.hidden_field :user_id, value: current_user.id if signed_in? %>
  </p>
  <p>
    <%= f.submit "Add comment", class: "btn btn-large btn-primary" %>
  </p>
<% end %>