<% provide(:title, 'Search') %>

<%= render 'search' %>
<% if !params[:theme].nil? %>
  <h1>Result</h1>
  <h3>
  	Find by <%= params[:theme] %>
  </h3>
<% end %>

<ul class="users">
  <%= render @posts if !@posts.nil? %>
</ul>

<ul class="tags">
  <%= render @tags if !@tags.nil? %>
</ul>

<ul class="users">
  <%= render @users if !@users.nil? %>
</ul>
