<% provide(:title, @post.title) %>
<ol class="posts">
  <li>
    <div class = "layer1">
      <section>
        <h4 class="black_link" >
          <%= gravatar_for @user, size:52%>
          <%= link_to @user.name, @user %>
        </h4>
      </section>
    </div>
    <h3>
      <span class="post_title" >
        <%= @post.title %>
      </span>
    </h3>
    <h4>
      <span class="content">
        <%= simple_format(wrap(@post.content)) %>
      </span>
    </h4>
  </li>
</ol>

<% if !@post.tag_list.blank? %>
  <div class="black_link" >
    Tags: <%= raw @post.tag_list.map { |t| link_to t, tag_path(t) }.join(', ') %>
  </div>
  <br>
<% end %>

<div class="timestamps">
  Posted <%= @post.created_at %>
</div>

<% if @post.comments.count!=0 %>
  <h2>Comments</h2>
  <%= render @comments %>
  <%= will_paginate @comments%>
<% end %>

<h2>Add a comment:</h2>
<%= render 'comments/form' %>



